@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  font-family: "Space Mono", monospace;
  padding: 0;
  margin: 0; }

html {
  font-size: 24px; }

body {
  box-sizing: border-box;
  margin: 0 auto; }

.container {
  position: absolute;
  width: 1440px;
  height: 1156px;
  margin: 0 auto;
  background: #f4fafa; }
  .container p {
    position: absolute;
    height: 70px;
    top: 200px;
    left: 650px;
    text-align: center;
    align-items: center;
    font-weight: 700;
    color: #00494d; }
  .container .box {
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 350px;
    left: 220px;
    align-items: center;
    background: white;
    border-radius: 20px; }
    .container .box__bill {
      position: absolute;
      width: 450px;
      height: 450px;
      top: 25px;
      left: 25px; }
      .container .box__bill .box__value {
        position: absolute;
        width: 90%;
        height: 80px;
        top: 20px;
        left: 0px;
        align-items: center;
        border-radius: 5px;
        border: 0px; }
        .container .box__bill .box__value img {
          position: absolute;
          width: 10px;
          height: 10px;
          top: 50px;
          left: 5px; }
        .container .box__bill .box__value p {
          position: absolute;
          height: 30px;
          top: 0px;
          left: 0px;
          text-align: center;
          align-items: center;
          font-weight: 600;
          color: #00494d; }
        .container .box__bill .box__value input {
          position: absolute;
          width: 90%;
          height: 40px;
          top: 40px;
          left: 0px;
          text-align: right;
          align-items: center;
          font-weight: 500;
          border-radius: 5px;
          border: 0px;
          background: #f4fafa; }
      .container .box__bill .text__one {
        position: absolute;
        height: 30px;
        top: 100px;
        left: 0px;
        text-align: center;
        align-items: center;
        font-weight: 600;
        color: #00494d; }
      .container .box__bill .box__percent {
        position: absolute;
        width: 80%;
        height: 120px;
        top: 150px;
        left: 0px;
        text-align: left;
        align-items: center;
        font-weight: 500;
        border-radius: 5px;
        border: 0px;
        background: #f4fafa; }
    .container .box__caculator {
      position: absolute;
      width: 450px;
      height: 400px;
      top: 50px;
      left: 500px;
      border-radius: 10px;
      background: #00494d; }

.box__bill .box__percent #percent_5 {
  position: relative;
  width: 25%;
  height: 40px;
  top: 10px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }

.box__bill .box__percent #percent_10 {
  position: absolute;
  width: 25%;
  height: 40px;
  top: 10px;
  left: 125px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }

.box__bill .box__percent #percent_15 {
  position: absolute;
  width: 25%;
  height: 40px;
  top: 10px;
  left: 250px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }

.box__bill .box__percent #percent_20 {
  position: absolute;
  width: 25%;
  height: 40px;
  top: 60px;
  left: 0px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }

.box__bill .box__percent #percent_25 {
  position: absolute;
  width: 25%;
  height: 40px;
  top: 60px;
  left: 125px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }

.box__bill .box__percent #percent_custom {
  position: absolute;
  width: 25%;
  height: 40px;
  top: 60px;
  left: 250px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }
  .box__bill .box__percent #percent_custom p {
    position: absolute;
    text-align: left;
    left: 20px;
    font-size: 20px;
    z-index: 10px;
    color: white; }

.box__bill .number__of__people {
  position: absolute;
  width: 90%;
  height: 120px;
  top: 320px;
  left: 0px;
  text-align: left;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: white; }
  .box__bill .number__of__people p {
    position: absolute;
    width: 90%;
    height: 40px;
    text-align: left;
    top: 0px;
    left: 0%; }
  .box__bill .number__of__people input {
    position: absolute;
    width: 90%;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    top: 50px;
    left: 0px;
    text-align: right;
    background: #f4fafa; }

.box__caculator .box__tip {
  position: absolute;
  width: 90%;
  height: 60px;
  top: 30px;
  left: 10px;
  text-align: left;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }
  .box__caculator .box__tip p {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0px;
    color: white; }
  .box__caculator .box__tip span {
    position: absolute;
    text-align: right;
    width: 40%;
    height: 60px;
    align-items: center;
    top: 0px;
    right: 10px;
    border: 0px;
    background: #00494d; }

.box__caculator .box__total {
  position: absolute;
  width: 90%;
  height: 60px;
  top: 100px;
  left: 10px;
  text-align: left;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: #00494d; }
  .box__caculator .box__total p {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0px;
    color: white; }
  .box__caculator .box__total span {
    position: absolute;
    text-align: right;
    width: 40%;
    height: 60px;
    align-items: center;
    top: 0px;
    right: 10px;
    border: 0px;
    background: #00494d; }

.box__caculator #reset {
  position: absolute;
  width: 80%;
  height: 40px;
  top: 300px;
  right: 40px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background: white; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }
